.container {
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.btn-submit {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.textbox {
  width: 90;
  height: 35px;
  padding: 5px 10px;
  margin: 1px 0 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.textbox-label {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
