.container {
  padding: 10px 5px;
  border-radius: 15px;
  border: 1px solid lightgrey;
}

.form-element {
  width: 100%;
  display: flex;
  padding: 3px 10px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.btn-container {
  width: 100%;
  display: flex;
  padding: 25px 0 15px 0;
  align-content: center;
  justify-content: space-evenly;
}

.btn-container button {
  width: 150px;
}

.form-element label {
  padding: 0 5px;
  align-self: flex-start;
}
