<div class="container" style="width: 350px;">
  <form>
    <div class="form-element">
      <label for="currentPassword">Current Password:</label>
      <input type="password" class="form-control" id="currentPassword" [(ngModel)]="currentPassword"
        placeholder="Enter current password" />
    </div>
    <div class="form-element">
      <label for="newPassword">New Password:</label>
      <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword"
        placeholder="Enter new password" />
    </div>
    <div class="form-element">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword"
        placeholder="Confirm password" />
    </div>
    <div class="btn-container">
      <button class="btn btn-outline-warning">Cancel</button>
      <button class="btn btn-outline-success">Reset Password</button>
    </div>
  </form>
</div>