<div class="container">
  <div class="form-elements-container">
    <div class="form-elements">
      <div class="form-element">
        <label for="currentPassword">Current Password:</label>
        <input
          type="password"
          class="password"
          id="currentPassword"
          placeholder="Enter current password"
        />
      </div>
      <div class="form-element">
        <label for="newPassword">New Password:</label>
        <input
          type="password"
          class="textbox"
          id="newPassword"
          placeholder="Enter new password"
        />
      </div>
      <div class="form-element">
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          class="textbox"
          id="confirmPassword"
          placeholder="Confirm password"
        />
      </div>
      <div class="btn-container">
        <button class="btn-cancel">Cancel</button>
        <button class="btn-submit">Reset Password</button>
      </div>
    </div>
  </div>
</div>
